@{
    ViewBag.Title = "Welcome";
}

<div class="flex-column p-2 bd-highlight text-light mt-5 m-p">
    <div class="row p-5">
        <div class="col-md-6 col-sm-12 text-center mt-5 mb-3">
            <h1>Welcome on Products Web App!</h1>
            <h4>ASP.NET MVC/AngularJS</h4>
        </div>
        <div class="col-md-6 col-sm-12 text-center">
            <img class="rounded-circle img-fluid img1"
                 src="https://www.tag-ad.com/images/icon-ecommerce-design.png"
                 alt="img1">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-5">
            <img class="img-fluid"
                 src="https://digitalmarketinggrid.com/wp-content/uploads/2017/05/footer-img-1.png"
                 alt="img2">
        </div>
    </div>
</div>
