
@{
    ViewBag.Title = "Products";
}

<div class="card border-light mb-3 mt-5">
<div class="card-header"><h4 class="p-0">Products list</h4></div>

<ng-view>Products list is loading...</ng-view>
    
</div>


@section Scripts {
    <script>
        $(function() {
            if (window.location.href.includes("Product"))
                $("#navProd").addClass("active");
            else
                $("#navProd").RemoveClass("active");
        });
    </script>
}